<h1><%= t ".reset_password" %></h1>
<p><%=  t ".guide" %> </p>
<%= edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%=  t ".expire" %></p>
<p><%=  t ".conditional" %> <%=  t ".message" %></p>
