<div class="p-4">
  <h3><%= t "order.order_tracking" %></h3>
  <table class="table table-bordered track_tbl">
    <thead>
      <tr>
        <th><%= t "order.order_id" %></th>
        <th><%= t "order.orderer" %></th>
        <th><%= t "order.receiver_name" %></th>
        <th><%= t "order.receiver_address" %></th>
        <th><%= t "order.receiver_phone" %></th>
        <th><%= t "order.order_date" %></th>
        <th><%= t "order.status_order" %></th>
        <th><%= t "order.total_price" %></th>
        <th><%= t "order.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @orders %>
    </tbody>
  </table>
  <div id="paginate">
    <%= will_paginate @orders, theme: "twitter-bootstrap-3" %>
  </div>
</div>
