<% provide(:title, t("edit_user.title_edit_pw")) %>
<h1 class="text-center edit-custom"><%= t "edit_user.title_edit_pw" %></h1>
<div class="row edit-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: edit_password_path do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group edit-custom">
        <%= f.label t "user.password" %>
        <%= f.password_field :password, class: "form-control form-edit-custom"%>
      </div>
      <div class="form-group edit-custom">
        <%= f.label t "user.password_comfirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control form-edit-custom"%>
      </div>
      <div class="form-group edit-custom">
        <%= f.label t "edit_user.curr_pw_lb" %>
        <%= f.password_field :password_curent, class: "form-control form-edit-custom"%>
      </div>
      <div class="form-group edit-custom">
        <%= f.submit t("edit_user.save"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
