<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <h3 class="dark-color"> <%= link_to @product.name, product_path(@product) %></h3>
          <div class="col-lg-6">
            <div class="about-avatar">
              <%= load_image_product @product %>
            </div>
          </div>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @product.rating_percentage %>%; height: 23px;">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @product.avg_rating %><%= t("ratings.point") %>（<%= @product.ratings.count %> <%= t("ratings.reviews") %>)
              </div>
            </div>
          </div>
        </div>
        <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th><%= t("ratings.user") %></th><th><%= t("ratings.point") %></th><th><%= t("ratings.comment") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @ratings %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
