<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-navbar-light">
    <div class="container">
      <%= link_to t("foods_drinks"), root_path, class: "navbar-brand logo" %>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
       aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <div class="form-inline">
          <%= form_tag(search_path, method: :get) do %>
            <%= text_field_tag :key, @key, class: "form-control", placeholder: t("search.title") %>
            <%= button_tag(type:"submit", class: "btn btn-outline-default") do %>
              <i class="fa fa-search"></i>
            <% end %>
          <% end %>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to t("header.home"), root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t "header.category" %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <% @categories.each do |cate| %>
                <%= link_to cate.name, cate, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to t("header.contact"), "#", class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t "header.language" %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#"><%= link_to t("vietnamese"), locale: :vi %></a>
              <a class="dropdown-item" href="#"><%= link_to t("english"), locale: :en %></a>
            </div>
          </li>
          <li class="nav-item">
            <div class="cart"><h1 id="cart-text"><%= render "carts/cart_text" %></h1></div>
          </li>
          <% if logged_in? %>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <%= t "header.account" %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if check_user_admin? %>
                  <li><%= link_to t("header.page_admin"), admin_root_path, class: "dropdown-item" %></li>
                <% end %>
                <li><%= link_to t("header.profile"), current_user, class: "dropdown-item" %></li>
                <li><%= link_to t("header.settings"), "#", class: "dropdown-item" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("header.log_out"), logout_path, method: "delete", class: "dropdown-item" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to t("header.log_in"), login_path,  class: "nav-link" %></li>
          <% end %>
          <li class="nav-item">
            <%= link_to t("header.register"), "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
